<div id="user-sign-form">
  <form id="user-sign-in-form" action="/users/signin" method="post">
    <span class="form-info">Login</span>
    <input id="user-sign-in-form-username-input" class="normal-input" type="text" name="user[username]" placeholder="Username here...">
    <input id="user-sign-in-form-password-input" class="normal-input" type="password" name="user[password]" placeholder="Password here...">
    <button class="normal-button" type="submit" class="btn"><span class="icon-ok"></span> SUBMIT</button>
  </form>
  <hr>
  <form id="user-sign-up-form" action="/users/" method="post">
    <span class="form-info">Register</span>
    <input id="user-sign-up-form-username-input" class="normal-input" type="text" name="user[username]" placeholder="Username here...">
    <input id="user-sign-up-form-password-input" class="normal-input" type="password" name="user[password]" placeholder="Password here...">
    <input id="user-sign-up-form-password-confirmation-input" class="normal-input" type="password" name="user[password_confirmation]" placeholder="Confirm Password here...">
    <button class="normal-button" type="submit" class="btn"><span class="icon-ok"></span> SUBMIT</button>
  </form>
</div>
