<div id="first-container" class="main-container">
</div>
<div id="second-container" class="main-container">
</div>
<div id="third-container" class="main-container">
  <% if @current_user %>
    <div id="post-form-container">
      <input id="topic-data-id" type="hidden" value="<%= @topic.id %>">
      <form id="post-form" action="/categories/<%= @category.id %>/topics/<%= @topic.id %>/posts" method="post">
        <span class="form-info">New Post</span>
        <textarea id="post-form-body-textarea" class="normal-textarea" rows="5" name="post[body]" placeholder="Type something here..."></textarea>
        <button class="normal-button" type="submit" class="btn"><span class="icon-ok"></span> Submit</button>
      </form>
    </div>
  <% end %>

  <div id="post-<%= @topic.id %>" class="boxes">
    <p class="posts-summary"><%= h @topic.body %></p>
    <div class="posts-detail">
      <span class="posts-author"><span class="icon-user"></span> <%= @topic.created_by %></span>
      <span class="posts-date"><span class="icon-time"></span> <span class="relative-date"><%= @topic.created_at.to_i %></span></span>
    </div>
  </div>

  <% @posts.each do |p| %>
    <div id="post-<%= p.id %>" class="boxes">
      <p class="posts-summary"><%= h p.body %></p>
      <div class="posts-detail">
        <span class="posts-author"><span class="icon-user"></span> <%= p.author_id %></span>
        <span class="posts-date"><span class="icon-time"></span> <span class="relative-date"><%= p.created_at.to_i %></span></span>
      </div>
    </div>
  <% end %>
</div>
