<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/app.js" ></script>
  <head/>
  <title>NOTFISH</title>
  <body>
    <div id="main-navbar">
      <div id="main-navigation" class="container">
        <a id="main-logo" href="/">NOT FISH</a>
        <% if @current_user %>
          <div id="sign-out-button" class="navbar-button">
            <span class="icon-user action-icon"></span> <span class="action-text">
              <%= @current_user.username %> SIGN-OUT
              </span>
          </div>
        <% else %>
          <div id="sign-up-button" class="navbar-button">
            <span class="icon-user action-icon"></span> <span class="action-text">
              SIGN-IN /
              SIGN-UP</span>
          </div>
        <% end %>
        <div id="loading-indicator" class="navbar-button">
        </div>
      </div>
    </div>
    <div id="sign-form-container" class="hidden">
      <div id="sign-form-pointer"></div>
      <div id="sign-form">
        <%= erb :'partials/user/sign_form' %>
      </div>
    </div>
    <div id="breadcrumbs"></div>
    <% unless flash[:error].nil? %>
      <h1><%= flash[:error] %></h1>
    <% end %>
    <div id="main-content">
      <div id="slide-container">
        <%= yield %>
      </div>
    </div>

    <%= erb :'partials/category/category_new' %>
    <%= erb :'partials/category/category_show' %>
    <%= erb :'partials/category/category_index' %>
    <%= erb :'partials/category/category_body' %>
    <%= erb :'partials/topic/topic_new' %>
    <%= erb :'partials/topic/topic_show' %>
    <%= erb :'partials/topic/topic_body' %>
    <%= erb :'partials/post/post_form_container' %>
    <%= erb :'partials/post/post_show' %>
  </body>
</html>
