html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
@font-face{font-family:'FontAwesome';src:url('../font/fontawesome-webfont.eot');src:url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('../font/fontawesome-webfont.woff') format('woff'),url('../font/fontawesome-webfont.ttf') format('truetype'),url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:FontAwesome;font-weight:normal;font-style:normal;display:inline-block;text-decoration:inherit;}
a [class^="icon-"],a [class*=" icon-"]{display:inline-block;text-decoration:inherit;}
.icon-large:before{vertical-align:middle;font-size:1.3333333333333333em;}
.btn [class^="icon-"],.nav-tabs [class^="icon-"],.btn [class*=" icon-"],.nav-tabs [class*=" icon-"]{line-height:.9em;}
li [class^="icon-"],li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center;}
li .icon-large:before,li .icon-large:before{width:1.875em;}
ul.icons{list-style-type:none;margin-left:2em;text-indent:-0.8em;}ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{width:.8em;}
ul.icons li .icon-large:before,ul.icons li .icon-large:before{vertical-align:initial;}
.icon-glass:before{content:"\f000";}
.icon-music:before{content:"\f001";}
.icon-search:before{content:"\f002";}
.icon-envelope:before{content:"\f003";}
.icon-heart:before{content:"\f004";}
.icon-star:before{content:"\f005";}
.icon-star-empty:before{content:"\f006";}
.icon-user:before{content:"\f007";}
.icon-film:before{content:"\f008";}
.icon-th-large:before{content:"\f009";}
.icon-th:before{content:"\f00a";}
.icon-th-list:before{content:"\f00b";}
.icon-ok:before{content:"\f00c";}
.icon-remove:before{content:"\f00d";}
.icon-zoom-in:before{content:"\f00e";}
.icon-zoom-out:before{content:"\f010";}
.icon-off:before{content:"\f011";}
.icon-signal:before{content:"\f012";}
.icon-cog:before{content:"\f013";}
.icon-trash:before{content:"\f014";}
.icon-home:before{content:"\f015";}
.icon-file:before{content:"\f016";}
.icon-time:before{content:"\f017";}
.icon-road:before{content:"\f018";}
.icon-download-alt:before{content:"\f019";}
.icon-download:before{content:"\f01a";}
.icon-upload:before{content:"\f01b";}
.icon-inbox:before{content:"\f01c";}
.icon-play-circle:before{content:"\f01d";}
.icon-repeat:before{content:"\f01e";}
.icon-refresh:before{content:"\f021";}
.icon-list-alt:before{content:"\f022";}
.icon-lock:before{content:"\f023";}
.icon-flag:before{content:"\f024";}
.icon-headphones:before{content:"\f025";}
.icon-volume-off:before{content:"\f026";}
.icon-volume-down:before{content:"\f027";}
.icon-volume-up:before{content:"\f028";}
.icon-qrcode:before{content:"\f029";}
.icon-barcode:before{content:"\f02a";}
.icon-tag:before{content:"\f02b";}
.icon-tags:before{content:"\f02c";}
.icon-book:before{content:"\f02d";}
.icon-bookmark:before{content:"\f02e";}
.icon-print:before{content:"\f02f";}
.icon-camera:before{content:"\f030";}
.icon-font:before{content:"\f031";}
.icon-bold:before{content:"\f032";}
.icon-italic:before{content:"\f033";}
.icon-text-height:before{content:"\f034";}
.icon-text-width:before{content:"\f035";}
.icon-align-left:before{content:"\f036";}
.icon-align-center:before{content:"\f037";}
.icon-align-right:before{content:"\f038";}
.icon-align-justify:before{content:"\f039";}
.icon-list:before{content:"\f03a";}
.icon-indent-left:before{content:"\f03b";}
.icon-indent-right:before{content:"\f03c";}
.icon-facetime-video:before{content:"\f03d";}
.icon-picture:before{content:"\f03e";}
.icon-pencil:before{content:"\f040";}
.icon-map-marker:before{content:"\f041";}
.icon-adjust:before{content:"\f042";}
.icon-tint:before{content:"\f043";}
.icon-edit:before{content:"\f044";}
.icon-share:before{content:"\f045";}
.icon-check:before{content:"\f046";}
.icon-move:before{content:"\f047";}
.icon-step-backward:before{content:"\f048";}
.icon-fast-backward:before{content:"\f049";}
.icon-backward:before{content:"\f04a";}
.icon-play:before{content:"\f04b";}
.icon-pause:before{content:"\f04c";}
.icon-stop:before{content:"\f04d";}
.icon-forward:before{content:"\f04e";}
.icon-fast-forward:before{content:"\f050";}
.icon-step-forward:before{content:"\f051";}
.icon-eject:before{content:"\f052";}
.icon-chevron-left:before{content:"\f053";}
.icon-chevron-right:before{content:"\f054";}
.icon-plus-sign:before{content:"\f055";}
.icon-minus-sign:before{content:"\f056";}
.icon-remove-sign:before{content:"\f057";}
.icon-ok-sign:before{content:"\f058";}
.icon-question-sign:before{content:"\f059";}
.icon-info-sign:before{content:"\f05a";}
.icon-screenshot:before{content:"\f05b";}
.icon-remove-circle:before{content:"\f05c";}
.icon-ok-circle:before{content:"\f05d";}
.icon-ban-circle:before{content:"\f05e";}
.icon-arrow-left:before{content:"\f060";}
.icon-arrow-right:before{content:"\f061";}
.icon-arrow-up:before{content:"\f062";}
.icon-arrow-down:before{content:"\f063";}
.icon-share-alt:before{content:"\f064";}
.icon-resize-full:before{content:"\f065";}
.icon-resize-small:before{content:"\f066";}
.icon-plus:before{content:"\f067";}
.icon-minus:before{content:"\f068";}
.icon-asterisk:before{content:"\f069";}
.icon-exclamation-sign:before{content:"\f06a";}
.icon-gift:before{content:"\f06b";}
.icon-leaf:before{content:"\f06c";}
.icon-fire:before{content:"\f06d";}
.icon-eye-open:before{content:"\f06e";}
.icon-eye-close:before{content:"\f070";}
.icon-warning-sign:before{content:"\f071";}
.icon-plane:before{content:"\f072";}
.icon-calendar:before{content:"\f073";}
.icon-random:before{content:"\f074";}
.icon-comment:before{content:"\f075";}
.icon-magnet:before{content:"\f076";}
.icon-chevron-up:before{content:"\f077";}
.icon-chevron-down:before{content:"\f078";}
.icon-retweet:before{content:"\f079";}
.icon-shopping-cart:before{content:"\f07a";}
.icon-folder-close:before{content:"\f07b";}
.icon-folder-open:before{content:"\f07c";}
.icon-resize-vertical:before{content:"\f07d";}
.icon-resize-horizontal:before{content:"\f07e";}
.icon-bar-chart:before{content:"\f080";}
.icon-twitter-sign:before{content:"\f081";}
.icon-facebook-sign:before{content:"\f082";}
.icon-camera-retro:before{content:"\f083";}
.icon-key:before{content:"\f084";}
.icon-cogs:before{content:"\f085";}
.icon-comments:before{content:"\f086";}
.icon-thumbs-up:before{content:"\f087";}
.icon-thumbs-down:before{content:"\f088";}
.icon-star-half:before{content:"\f089";}
.icon-heart-empty:before{content:"\f08a";}
.icon-signout:before{content:"\f08b";}
.icon-linkedin-sign:before{content:"\f08c";}
.icon-pushpin:before{content:"\f08d";}
.icon-external-link:before{content:"\f08e";}
.icon-signin:before{content:"\f090";}
.icon-trophy:before{content:"\f091";}
.icon-github-sign:before{content:"\f092";}
.icon-upload-alt:before{content:"\f093";}
.icon-lemon:before{content:"\f094";}
.icon-phone:before{content:"\f095";}
.icon-check-empty:before{content:"\f096";}
.icon-bookmark-empty:before{content:"\f097";}
.icon-phone-sign:before{content:"\f098";}
.icon-twitter:before{content:"\f099";}
.icon-facebook:before{content:"\f09a";}
.icon-github:before{content:"\f09b";}
.icon-unlock:before{content:"\f09c";}
.icon-credit-card:before{content:"\f09d";}
.icon-rss:before{content:"\f09e";}
.icon-hdd:before{content:"\f0a0";}
.icon-bullhorn:before{content:"\f0a1";}
.icon-bell:before{content:"\f0a2";}
.icon-certificate:before{content:"\f0a3";}
.icon-hand-right:before{content:"\f0a4";}
.icon-hand-left:before{content:"\f0a5";}
.icon-hand-up:before{content:"\f0a6";}
.icon-hand-down:before{content:"\f0a7";}
.icon-circle-arrow-left:before{content:"\f0a8";}
.icon-circle-arrow-right:before{content:"\f0a9";}
.icon-circle-arrow-up:before{content:"\f0aa";}
.icon-circle-arrow-down:before{content:"\f0ab";}
.icon-globe:before{content:"\f0ac";}
.icon-wrench:before{content:"\f0ad";}
.icon-tasks:before{content:"\f0ae";}
.icon-filter:before{content:"\f0b0";}
.icon-briefcase:before{content:"\f0b1";}
.icon-fullscreen:before{content:"\f0b2";}
.icon-group:before{content:"\f0c0";}
.icon-link:before{content:"\f0c1";}
.icon-cloud:before{content:"\f0c2";}
.icon-beaker:before{content:"\f0c3";}
.icon-cut:before{content:"\f0c4";}
.icon-copy:before{content:"\f0c5";}
.icon-paper-clip:before{content:"\f0c6";}
.icon-save:before{content:"\f0c7";}
.icon-sign-blank:before{content:"\f0c8";}
.icon-reorder:before{content:"\f0c9";}
.icon-list-ul:before{content:"\f0ca";}
.icon-list-ol:before{content:"\f0cb";}
.icon-strikethrough:before{content:"\f0cc";}
.icon-underline:before{content:"\f0cd";}
.icon-table:before{content:"\f0ce";}
.icon-magic:before{content:"\f0d0";}
.icon-truck:before{content:"\f0d1";}
.icon-pinterest:before{content:"\f0d2";}
.icon-pinterest-sign:before{content:"\f0d3";}
.icon-google-plus-sign:before{content:"\f0d4";}
.icon-google-plus:before{content:"\f0d5";}
.icon-money:before{content:"\f0d6";}
.icon-caret-down:before{content:"\f0d7";}
.icon-caret-up:before{content:"\f0d8";}
.icon-caret-left:before{content:"\f0d9";}
.icon-caret-right:before{content:"\f0da";}
.icon-columns:before{content:"\f0db";}
.icon-sort:before{content:"\f0dc";}
.icon-sort-down:before{content:"\f0dd";}
.icon-sort-up:before{content:"\f0de";}
.icon-envelope-alt:before{content:"\f0e0";}
.icon-linkedin:before{content:"\f0e1";}
.icon-undo:before{content:"\f0e2";}
.icon-legal:before{content:"\f0e3";}
.icon-dashboard:before{content:"\f0e4";}
.icon-comment-alt:before{content:"\f0e5";}
.icon-comments-alt:before{content:"\f0e6";}
.icon-bolt:before{content:"\f0e7";}
.icon-sitemap:before{content:"\f0e8";}
.icon-umbrella:before{content:"\f0e9";}
.icon-paste:before{content:"\f0ea";}
.icon-user-md:before{content:"\f200";}
@font-face{font-family:'OswaldBook';src:url('../font/Oswald-Regular-webfont.eot');src:url('../font/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('../font/Oswald-Regular-webfont.woff') format('woff'),url('../font/Oswald-Regular-webfont.ttf') format('truetype'),url('../font/Oswald-Regular-webfont.svg#OswaldBook') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansRegular';src:url('../font/OpenSans-Regular-webfont.eot');src:url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('../font/OpenSans-Regular-webfont.woff') format('woff'),url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),url('../font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansBold';src:url('../font/OpenSans-Bold-webfont.eot');src:url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('../font/OpenSans-Bold-webfont.woff') format('woff'),url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),url('../font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'SourceSansProBold';src:url('../font/SourceSansPro-Bold-webfont.eot');src:url('../font/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('../font/SourceSansPro-Bold-webfont.woff') format('woff'),url('../font/SourceSansPro-Bold-webfont.ttf') format('truetype'),url('../font/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');font-weight:normal;font-style:normal;}body{background:#F5F5F5;margin:0;}
#main-navbar{position:fixed;padding-right:100%;width:100%;background:#FFF;z-index:5;border-bottom:1px solid rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.1);-o-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.1);-ms-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.1);box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.1);}
#main-logo{display:block;float:left;margin-top:5px;color:#555;font-family:OswaldBook;font-size:18px;line-height:20px;text-decoration:none;text-align:center;}
#breadcrumbs{max-width:910px;margin:0 auto;overflow:hidden;border-right:50px solid transparent;border-bottom:1px solid #FFF;}
#main-content{height:auto;max-width:960px;margin:0 auto;margin-top:30px;overflow:hidden;}
#slide-container{position:relative;display:block;top:0;left:0;width:2880px;min-height:200px;}
#first-container{float:left;min-width:910px;}
#second-container{float:left;min-width:910px;}
#sign-form-container{position:fixed;overflow:hidden;opacity:0;top:32px;right:50%;width:306px;height:320px;margin-right:-478px;z-index:1;}
#sign-form{background:#FFF;margin:2px;margin-top:5px;height:311px;border:1px solid rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.3);-o-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.3);-ms-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.3);box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.3);}
#sign-form-pointer{position:fixed;top:18px;right:50%;margin-right:-468px;border:10px solid transparent;border-bottom:10px solid rgba(0, 0, 0, 0.1);z-index:20;}
#sign-form-pointer:after{position:fixed;content:' ';top:19px;right:50%;margin-right:-468px;border:10px solid transparent;border-bottom:10px solid #FFF;}
#new-topic-body,#new-category-body{margin-top:3px;overflow:hidden;height:28px;}
#new-topic-form,#new-category-form{background:#FFF;overflow:hidden;}
#new-topic-form .normal-input,#new-category-form .normal-input{margin:0 1px;margin-top:3px;width:940px;height:21px;font-size:17px;font-family:OpenSansRegular, Arial;color:#666;}
#new-topic-form .normal-textarea,#new-category-form .normal-textarea{width:940px;}
#topic-button-container,#category-button-container{margin:0 2px;margin-top:2px;height:24px;overflow:hidden;-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-o-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-ms-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);}
#slide-button-container{margin:0;}
#new-topic-form .normal-button,#new-category-form .normal-button{width:948px;}
#new-topic-button,#new-category-button{padding:0 5px;height:23px;color:#FFF;font-family:OswaldBook;font-size:12px;text-align:center;line-height:24px;background:#83B1D7;text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);border-top:1px solid rgba(255, 255, 255, 0.4);cursor:hand;cursor:pointer;}
#new-topic-button:hover,#new-category-button:hover{background:#8AB8DF;}
#new-topic-button:active,#new-category-button:active{background:#769EC1;border-top:1px solid rgba(0, 0, 0, 0.4);}
#cancel-topic-button,#cancel-category-button{padding:0 5px;height:23px;color:#FFF;font-family:OswaldBook;font-size:12px;text-align:center;line-height:24px;background:#EB5E5E;text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);border-top:1px solid rgba(255, 255, 255, 0.4);cursor:hand;cursor:pointer;}
#cancel-topic-button:hover,#cancel-category-button:hover{background:#F37F7F;}
#cancel-topic-button:active,#cancel-category-button:active{background:#DE5757;border-top:1px solid rgba(0, 0, 0, 0.1);}
.action-icon{display:inline-block;width:24px;margin-right:-2px;font-size:14px;}
.action-text{overflow:hidden;text-overflow:ellipsis;display:inline-block;margin-left:-2px;color:#FFF;}
.navbar-button{float:right;overflow:hidden;color:#555;font-size:15px;font-family:SourceSansProBold, OswaldBook, Arial;text-align:middle;border-left:1px solid rgba(0, 0, 0, 0.1);border-right:1px solid rgba(0, 0, 0, 0.1);cursor:hand;cursor:pointer;}
.navbar-button:hover{background:#FCFCFC;color:#333;}
.navbar-button .action-icon{margin-left:8px;width:auto;font-size:13px;z-index:1;}
.navbar-button .action-text{text-align:center;margin:5px;color:#555;z-index:5;}
#loading-indicator{opacity:0;float:left;width:25px;height:25px;background:#FFF;cursor:auto;}
#loading-indicator .action-icon{position:absolute;opacity:0;top:8px;left:10px;color:#FFF;font-size:40px;text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);z-index:1;}
#loading-indicator #success-sign{left:7px;}
#user-sign-form{float:left;width:300px;height:300px;background:#FFF;z-index:1;}
#user-sign-form hr{margin:0 2px;margin-bottom:1px;border:0;border-top:1px solid #DDD;-webkit-box-shadow:inset 0 0 0 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 0 0 0 rgba(0, 0, 0, 0.1);-o-box-shadow:inset 0 0 0 0 rgba(0, 0, 0, 0.1);-ms-box-shadow:inset 0 0 0 0 rgba(0, 0, 0, 0.1);box-shadow:inset 0 0 0 0 rgba(0, 0, 0, 0.1);}
#user-sign-form .form-info{float:none;}
#user-sign-form .normal-input{float:left;margin-top:2px;margin-left:3px;padding:2px 4px;width:284px;height:18px;font-size:12px;}
#user-sign-form .normal-button{margin:4px;width:292px;-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-o-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-ms-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);}
#user-sign-form .unhappyMessage{position:relative;display:inline;margin-left:3px;padding:0;width:auto;background:none;color:#FF8F8F;text-shadow:0 0 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 0 0 rgba(0, 0, 0, 0.1);-o-box-shadow:0 0 0 0 rgba(0, 0, 0, 0.1);-ms-box-shadow:0 0 0 0 rgba(0, 0, 0, 0.1);box-shadow:0 0 0 0 rgba(0, 0, 0, 0.1);}
.normal-input{position:relative;height:18px;width:890px;margin:0 2px;padding:2px 4px;font-family:OpenSansRegular, Arial;border:1px solid rgba(0, 0, 0, 0.2);color:#666;background:#FFF;-webkit-box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);-o-box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);-ms-box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);}
.normal-input:focus{border:1px solid #A8C4E1;-webkit-box-shadow:0 0 2px 0px #a8c4e1;-moz-box-shadow:0 0 2px 0px #a8c4e1;-o-box-shadow:0 0 2px 0px #a8c4e1;-ms-box-shadow:0 0 2px 0px #a8c4e1;box-shadow:0 0 2px 0px #a8c4e1;outline:none;}
.normal-textarea{position:relative;margin:2px 1px;padding:4px;width:890px;height:80px;color:#666;background:#FFF;font-family:OpenSansRegular, Arial;font-size:12px;border:1px solid rgba(0, 0, 0, 0.2);-webkit-box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);-o-box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);-ms-box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 4px -1px rgba(0, 0, 0, 0.1);}
.normal-textarea:focus{border:1px solid #A8C4E1;-webkit-box-shadow:0 0 2px 0px #a8c4e1;-moz-box-shadow:0 0 2px 0px #a8c4e1;-o-box-shadow:0 0 2px 0px #a8c4e1;-ms-box-shadow:0 0 2px 0px #a8c4e1;box-shadow:0 0 2px 0px #a8c4e1;outline:none;}
.normal-button{margin:2px;margin-top:1px;padding:6px;height:23px;color:#FFF;font-family:OswaldBook, Arial;font-size:12px;text-align:center;background:#81C571;text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);border:0;border-top:1px solid rgba(255, 255, 255, 0.4);-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-o-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-ms-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);cursor:hand;cursor:pointer;}
.normal-button:hover{background:#97D688;}
.normal-button:active{border-top:1px solid rgba(0, 0, 0, 0.4);background:#6DAA5F;}
.normal-title{float:right;color:#666;padding:3px 5px;background:transparent;font-size:11px;font-weight:bold;cursor:hand;cursor:pointer;}
.unhappy{border:1px solid #FF8F8F;-webkit-box-shadow:0 0 2px 0px #ff8f8f;-moz-box-shadow:0 0 2px 0px #ff8f8f;-o-box-shadow:0 0 2px 0px #ff8f8f;-ms-box-shadow:0 0 2px 0px #ff8f8f;box-shadow:0 0 2px 0px #ff8f8f;outline:none;}
.unhappyMessage{position:absolute;display:block;margin-top:3px;margin-left:742px;padding:5px;width:150px;background:#FF8F8F;color:#FFF;font-size:11px;font-family:OswaldBook, Arial;text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow:-1px 1px 1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:-1px 1px 1px 0 rgba(0, 0, 0, 0.1);-o-box-shadow:-1px 1px 1px 0 rgba(0, 0, 0, 0.1);-ms-box-shadow:-1px 1px 1px 0 rgba(0, 0, 0, 0.1);box-shadow:-1px 1px 1px 0 rgba(0, 0, 0, 0.1);z-index:5;}
#post-form{width:480px;}
#post-form .normal-textarea{margin:2px 2px;width:946px;}
#post-form .normal-button{width:954px;margin:3px;margin-top:0;-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-o-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);-ms-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);}
.form-info{color:#222;display:block;font-family:OswaldBook;font-size:12px;padding:3px;}
.show{display:block;}
.hidden{display:none;}
.main-container{float:left;width:960px;margin:0 auto;}
.container{width:960px;margin:0 auto;}
.boxes{margin:5px 3px;background:#FFF;border:1px solid rgba(255, 255, 255, 0.2);-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3);-o-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3);-ms-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3);box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3);}
.boxes:hover{background:#FCFCFC;}
.boxes-title{display:block;margin:10px;margin-bottom:0;}
.boxes-title a{color:#79b5c0;font-family:OpenSansBold, Arial;font-size:17px;text-decoration:none;}
.boxes-title a:hover{color:#9CB9FF;}
.boxes-title a:visited{color:#BBB;}
.boxes-date{padding:1px 2px;background:#F2F2F2;color:#888;font-size:9px;font-family:OpenSansRegular, Arial;text-align:right;}
.boxes-author{float:left;}
.boxes-summary{margin:11px;margin-top:6px;color:#222;font-size:11px;font-family:OpenSansRegular, Arial;}
.posts-summary{display:block;margin:4px;color:#666;font-size:11px;}
.posts-detail{height:16px;background:#F2F2F2;}
.posts-author{margin:2px;color:#666;font-size:11px;font-family:OswaldBook, Arial;}
.posts-date{display:inline-block;float:right;margin:4px;color:#888;font-size:9px;font-family:OpenSansRegular, Arial;text-align:right;}
