<div id="first-container" class="main-container">
  <% if @current_user && @current_user.administrator%>
    <div id="new-category-body" class="boxes">
      <%= erb :'partials/category/category_form' %>
    </div>
  <% end %>
  <% @categories.each do |c| %>
    <div id="category-<%= c.id %>" class="boxes">
      <span class="boxes-title"><a href="/categories/<%= c.id %>"><%= h c.title %></a></span>
      <p class="boxes-summary"><%= h c.description %></p>
    </div>
  <% end %>
</div>
<div id="second-container" class="main-container">
</div>
<div id="third-container" class="main-container">
</div>
