<div id="first-container" class="main-container">
</div>
<div id="second-container" class="main-container">
  <% if @current_user %>
    <div id="new-topic-body" class="boxes">
      <div id="new-topic-form">
        <div id="topic-button-container">
          <div id="slide-topic-button-container">
            <div id="new-topic-button">
              <span class="icon-plus action-icon"></span> <span class="action-text">NEW TOPIC</span>
            </div>
            <div id="cancel-topic-button">
              <span class="icon-remove action-icon"></span> <span class="action-text">CANCEL</span>
            </div>
          </div>
        </div>
        <form id="topic-form" action="/categories/<%= @category.id %>/topics/" method="post">
          <input id="topic-form-title-input" class="normal-input" type="text" name="topic[title]" placeholder="Title goes here...">
          <textarea id="topic-form-body-textarea" class="normal-textarea" rows="5" name="topic[body]" placeholder="Description goes here..."></textarea><br>
          <button class="normal-button" type="submit" class="btn"><span class="icon-ok"></span> SUBMIT</button>
        </form>
      </div>
    </div>
  <% end %>

  <% @topics.each do |t| %>
    <div id="topic-<%= t.id %>" class="boxes">
      <div class="boxes-date">
        <span class="boxes-author">
          <span class="icon-user"></span> <%= t.created_by_id %>
        </span>
        <span class="icon-time"></span> <span class="relative-date"><%= t.created_at.to_i %></span>
      </div>
      <span class="boxes-title"><a href="/categories/<%= @category.id %>/topics/<%= t.id %>"><%= h t.title %></a></span>
      <p class="boxes-summary"><%= h t.body %></p>
    </div>
  <% end %>
</div>
<div id="third-container" class="main-container">
</div>
