<input id="topic-data-id" type="hidden" value="{{= it.topic._id}}">
<form id="post-form" action="/categories/{{= it.category._id }}/topics/{{= it.topic._id }}/posts" method="post">
  <span class="form-info">New Post</span>
  <textarea id="post-form-body-textarea" class="normal-textarea" rows="5" name="post[body]" placeholder="Type something here..."></textarea>
  <button class="normal-button" type="submit" class="btn"><span class="icon-ok"></span> Submit</button>
</form>
