<script id="post-show-template" type="text/x-dot-template">
  <div id="post-{{= it.post._id }}" class="boxes">
    <p class="posts-summary">{{! it.post.body }}</p>
    <div class="posts-detail">
      <span class="posts-author"><span class="icon-user"></span> {{= p.author_id }}</span>
      <span class="posts-date relative-date"><span class="icon-time"></span> <span class="relative-date">{{= moment(it.post.created_at).fromNow() }}</span></span>
    </div>
  </div>
</script>
