@fontsPath: '../font';

@font-face {
    font-family: 'OswaldBook';
    src: url('@{fontsPath}/Oswald-Regular-webfont.eot');
    src: url('@{fontsPath}/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontsPath}/Oswald-Regular-webfont.woff') format('woff'),
         url('@{fontsPath}/Oswald-Regular-webfont.ttf') format('truetype'),
         url('@{fontsPath}/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('@{fontsPath}/OpenSans-Regular-webfont.eot');
    src: url('@{fontsPath}/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontsPath}/OpenSans-Regular-webfont.woff') format('woff'),
         url('@{fontsPath}/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('@{fontsPath}/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('@{fontsPath}/OpenSans-Bold-webfont.eot');
    src: url('@{fontsPath}/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontsPath}/OpenSans-Bold-webfont.woff') format('woff'),
         url('@{fontsPath}/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('@{fontsPath}/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('@{fontsPath}/SourceSansPro-Bold-webfont.eot');
    src: url('@{fontsPath}/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontsPath}/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('@{fontsPath}/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('@{fontsPath}/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

