// -- Forms and Buttons

#sign-form-container {
  position: fixed;
  overflow: hidden;
  opacity: 0;
  top: 32px;
  right: 50%;
  width: 306px;
  height: 320px;
  margin-right: -478px;
  z-index: 1;
}

#sign-form {
  background: #FFF;
  margin: 2px;
  margin-top: 5px;
  height: 311px;
  border: 1px solid rgba(0,0,0,0.1);
  .box-shadow-outer(0, 1px, 1px, 0, rgba(0,0,0,0.3));
}

#sign-form-pointer {
  position: fixed;
  top: 18px;
  right: 50%;
  margin-right: -468px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0,0,0,0.1);
  z-index: 20;
}

#sign-form-pointer:after {
  position: fixed;
  content: ' ';
  top: 19px;
  right: 50%;
  margin-right: -468px;
  border: 10px solid transparent;
  border-bottom: 10px solid #FFF;
}

#new-topic-body, #new-category-body {
  margin-top: 3px;
  overflow: hidden;
  height: 28px;
}

#new-topic-form, #new-category-form {
  background: #FFF;
  overflow: hidden;
}

#new-topic-form .normal-input, #new-category-form .normal-input {
  margin: 0 1px;
  margin-top: 3px;
  width: 940px;
  height: 21px;
  font-size: 17px;
  font-family: OpenSansRegular, Arial;
  color: #666;
}

#new-topic-form .normal-textarea, #new-category-form .normal-textarea{
  width: 940px;
}

#topic-button-container, #category-button-container {
  margin: 0 2px;
  margin-top: 2px;
  height: 24px;
  overflow: hidden;
  .box-shadow-outer(0, 0, 0, 1px, rgba(0,0,0,0.4));
}

#slide-button-container {
  margin: 0;
}

#new-topic-form .normal-button, #new-category-form .normal-button {
  width: 948px;
}

#new-topic-button, #new-category-button {
  padding: 0 5px;
  height: 23px;
  color: #FFF;
  font-family: OswaldBook;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  background: #83B1D7;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.4);
  cursor: hand;
  cursor: pointer;
}

#new-topic-button:hover, #new-category-button:hover {
  background: #8AB8DF;
}

#new-topic-button:active, #new-category-button:active {
  background: #769EC1;
  border-top: 1px solid rgba(0,0,0,0.4);
}

#cancel-topic-button, #cancel-category-button {
  padding: 0 5px;
  height: 23px;
  color: #FFF;
  font-family: OswaldBook;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  background: #EB5E5E;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.4);
  cursor: hand;
  cursor: pointer;
}

#cancel-topic-button:hover, #cancel-category-button:hover {
  background: #F37F7F;
}

#cancel-topic-button:active, #cancel-category-button:active {
  background: #DE5757;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.action-icon {
  display: inline-block;
  width: 24px;
  margin-right: -2px;
  font-size: 14px;
}

.action-icon:hover {
}

.action-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-left: -2px;
  color: #FFF;
}

.navbar-button {
  float: right;
  overflow: hidden;
  color: #555;
  font-size: 15px;
  font-family: SourceSansProBold, OswaldBook, Arial;
  text-align: middle;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  cursor: hand;
  cursor: pointer;
}

.navbar-button:hover {
  background: #FCFCFC;
  color: #333;
}

.navbar-button .action-icon {
  margin-left: 8px;
  width: auto;
  font-size: 13px;
  z-index: 1;
}

.navbar-button .action-text {
  text-align: center;
  margin: 5px;
  color: #555;
  z-index: 5;
}

#loading-indicator {
  opacity: 0;
  float: left;
  width: 25px;
  height: 25px;
  background: #FFF;
  cursor: auto;
}

#loading-indicator .action-icon {
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 10px;
  color: #FFF;
  font-size: 40px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  z-index: 1;
}

#loading-indicator #success-sign {
  left: 7px;
}

#sign-up-button .action-icon, #sign-out-button .action-icon {
}

#sign-up-button .action-text, #sign-out-button .action-text  {
}

#user-sign-form {
  float: left;
  width: 300px;
  height: 300px;
  background: #FFF;
  z-index: 1;
}

#user-sign-form hr {
  margin: 0 2px;
  margin-bottom: 1px;
  border: 0;
  border-top: 1px solid #DDD;
  .box-shadow(0, 0, 0, 0, rgba(0,0,0,0.1));
}

#user-sign-form .form-info {
  float: none;
}

#user-sign-form .normal-input {
  float: left;
  margin-top: 2px;
  margin-left: 3px;
  padding: 2px 4px;
  width: 284px;
  height: 18px;
  font-size: 12px;
}

#user-sign-form .normal-button {
  margin: 4px;
  width: 292px;
  .box-shadow-outer(0, 0, 0, 1px, rgba(0,0,0,0.4));
}

#user-sign-form .unhappyMessage {
  position: relative;
  display: inline;
  margin-left: 3px;
  padding: 0;
  width: auto;
  background: none;
  color: #FF8F8F;
  text-shadow: 0 0 0 rgba(0,0,0,0.3);
  .box-shadow-outer(0, 0, 0, 0, rgba(0,0,0,0.1));
}

.normal-input {
  position: relative;
  height: 18px;
  width: 890px;
  margin: 0 2px;
  padding: 2px 4px;
  font-family: OpenSansRegular, Arial;
  border: 1px solid rgba(0,0,0,0.2);
  color: #666;
  background: #FFF;
  .box-shadow(0, 1px, 4px, -1px, rgba(0,0,0,0.1));
}

.normal-input:focus {
  border: 1px solid #A8C4E1;
  .box-shadow-outer(0, 0, 2px, 0px, #A8C4E1);
  outline: none;
}

.normal-textarea {
  position: relative;
  margin: 2px 1px;
  padding: 4px;
  width: 890px;
  height: 80px;
  color: #666;
  background: #FFF;
  font-family: OpenSansRegular, Arial;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,0.2);
  .box-shadow(0, 1px, 4px, -1px, rgba(0,0,0,0.1));
}

.normal-textarea:focus {
  border: 1px solid #A8C4E1;
  .box-shadow-outer(0, 0, 2px, 0px, #A8C4E1);
  outline: none;
}

.normal-button {
  margin: 2px;
  margin-top: 1px;
  padding: 6px;
  height: 23px;
  color: #FFF;
  font-family: OswaldBook, Arial;
  font-size: 12px;
  text-align: center;
  background: #81C571;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.4);
  .box-shadow-outer(0, 0, 0, 1px, rgba(0,0,0,0.4));
  cursor: hand;
  cursor: pointer;
}

.normal-button:hover {
  background: #97D688;
}

.normal-button:active {
  border-top: 1px solid rgba(0,0,0,0.4);
  background: #6DAA5F;
}

.normal-title {
  float: right;
  color: #666;
  padding: 3px 5px;
  background: transparent;
  font-size: 11px;
  font-weight: bold;
  cursor: hand;
  cursor: pointer;
}

.unhappy {
  border: 1px solid #FF8F8F;
  .box-shadow-outer(0, 0, 2px, 0px, #FF8F8F);
  outline: none;
}

.unhappyMessage {
  position: absolute;
  display: block;
  margin-top: 3px;
  margin-left: 742px;
  padding: 5px;
  width: 150px;
  background: #FF8F8F;
  color: #FFF;
  font-size: 11px;
  font-family: OswaldBook, Arial;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  .box-shadow-outer(-1px, 1px, 1px, 0, rgba(0,0,0,0.1));
  z-index: 5;
}

#post-form {
  width: 480px;
}

#post-form .normal-textarea {
  margin: 2px 2px;
  width: 946px;
}

#post-form .normal-button {
  width: 954px;
  margin: 3px;
  margin-top: 0;
  .box-shadow-outer(0, 0, 0, 1px, rgba(0,0,0,0.4));
}

.form-info {
  color: #222;
  display: block;
  font-family: OswaldBook;
  font-size: 12px;
  padding: 3px;
}

