// -- Functions and Variables

@main-color: #79B5C0;

.box-shadow(@x: 0, @y: 0, @length: 4px, @spread: -4px, @color: #AAA) {
  -webkit-box-shadow: inset @x @y @length @spread @color;
  -moz-box-shadow: inset @x @y @length @spread @color;
  -o-box-shadow: inset @x @y @length @spread @color;
  -ms-box-shadow: inset @x @y @length @spread @color;
  box-shadow: inset @x @y @length @spread @color;
}

.box-shadow-outer(@x: 0, @y: 0, @length: 4px, @spread: -4px, @color: #AAA) {
  -webkit-box-shadow: @x @y @length @spread @color;
  -moz-box-shadow: @x @y @length @spread @color;
  -o-box-shadow: @x @y @length @spread @color;
  -ms-box-shadow: @x @y @length @spread @color;
  box-shadow: @x @y @length @spread @color;
}

.rounded-corners(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.multiple-rounded-corners(@rad1, @rad2, @rad3, @rad4) {
  -webkit-border-radius: @rad1 @rad2 @rad3 @rad4;
  -moz-border-radius: @rad1 @rad2 @rad3 @rad4;
  -ms-border-radius: @rad1 @rad2 @rad3 @rad4;
  -o-border-radius: @rad1 @rad2 @rad3 @rad4;
  border-radius: @rad1 @rad2 @rad3 @rad4;
}

.linear-gradient(@default,@color1,@stop1,@color2,@stop2) {
  background-color: @default;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2 @color2));
  background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2);
}

