// -- Layouts

body {
  background: #F5F5F5;
  margin: 0;
}

#main-navbar {
  position: fixed;
  padding-right: 100%;
  width: 100%;
  background: #FFF;
  z-index: 5;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  .box-shadow-outer(0, 0, 3px, 1px, rgba(0,0,0,0.1))
}

#main-navigation {
}

#main-logo {
  display: block;
  float: left;
  margin-top: 5px;
  color: #555;
  font-family: OswaldBook;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

#breadcrumbs {
  max-width: 910px;
  margin: 0 auto;
  overflow: hidden;
  border-right: 50px solid transparent;
  border-bottom: 1px solid #FFF;
}

#main-content {
  height: auto;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
}

#slide-container {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 2880px;
  min-height: 200px;
}

#first-container {
  float: left;
  min-width: 910px;
}

#second-container {
  float: left;
  min-width: 910px;
}

