@import "reset";
@import "normalize";
@import "font-awesome";
@import "fonts";
@import "functions";
@import "layouts";
@import "forms";

.show {
  display: block;
}

.hidden {
  display: none;
}

.main-container {
  float: left;
  width: 960px;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.boxes, {
  margin: 5px 3px;
  background: #FFF;
  border: 1px solid rgba(255,255,255,0.2);
  .box-shadow-outer(0, 1px, 3px, 0, rgba(0,0,0,0.3));
}

.boxes:hover {
  background: #FCFCFC;
}

.boxes-title {
  display: block;
  margin: 10px;
  margin-bottom: 0;
}

.boxes-title a {
  color: @main-color;
  font-family: OpenSansBold, Arial;
  font-size: 17px;
  text-decoration: none;
}

.boxes-title a:hover {
  color: #9CB9FF;
}

.boxes-title a:visited {
  color: #BBB;
}

.boxes-date {
  padding: 1px 2px;
  background: #F2F2F2;
  color: #888;
  font-size: 9px;
  font-family: OpenSansRegular, Arial;
  text-align: right;
}

.boxes-author {
  float: left;
}

.boxes-summary {
  margin: 11px;
  margin-top: 6px;
  color: #222;
  font-size: 11px;
  font-family: OpenSansRegular, Arial;
}

.posts-summary {
  display: block;
  margin: 4px;
  color: #666;
  font-size: 11px;
}

.posts-detail {
  height: 16px;
  background: #F2F2F2;
}

.posts-author {
  margin: 2px;
  color: #666;
  font-size: 11px;
  font-family: OswaldBook, Arial;
}

.posts-date {
  display: inline-block;
  float: right;
  margin: 4px;
  color: #888;
  font-size: 9px;
  font-family: OpenSansRegular, Arial;
  text-align: right;
}
