<script id="topic-new-template" type="text/x-dot-template">
  <div class="boxes-date">
    <span class="boxes-author">
      <span class="icon-user"></span> {{= it.created_by }}
    </span>
    <span class="icon-time"></span> <span class="relative-date">{{= moment(it.created_at).fromNow() }}</span>
  </div>
  <span class="boxes-title"><a href="/topics/{{= it._id }}">{{! it.title }}</a></span>
  <p class="boxes-summary">{{! it.body }}</p>
</script>
