<script id="topic-show-template" type="text/x-dot-template">
  {{? it.user }}
    <div id="post-form-container">
      <%= erb :'partials/post/post_form' %>
    </div>
  {{?}}

  <div id="post-{{= it.topic._id }}" class="boxes">
    <p class="posts-summary">{{! it.topic.body }}</p>
    <div class="posts-detail">
      <span class="posts-author"><span class="icon-user"></span> {{= it.topic.created_by }}</span>
      <span class="posts-date"><span class="icon-time"></span> <span class="relative-date"> {{= moment(it.topic.created_at).fromNow() }}</span></span>
    </div>
  </div>

  {{~ it.posts :p }}
    <div id="post-{{= p._id }}" class="boxes">
      <p class="posts-summary">{{! p.body }}</p>
      <div class="posts-detail">
        <span class="posts-author"><span class="icon-user"></span> {{= p.author_id }}</span>
        <span class="posts-date"><span class="icon-time"></span> <span class="relative-date"> {{= moment(p.created_at).fromNow() }}</span></span>
      </div>
    </div>
  {{~}}
</script>
