<div id="new-topic-form">
  <div id="topic-button-container">
    <div id="slide-topic-button-container">
      <div id="new-topic-button">
        <span class="icon-plus action-icon"></span> <span class="action-text">NEW TOPIC</span>
      </div>
      <div id="cancel-topic-button">
        <span class="icon-remove action-icon"></span> <span class="action-text">CANCEL</span>
      </div>
    </div>
  </div>
  <form id="topic-form" action="/categories/{{= it.category._id }}/topics/" method="post">
    <input id="topic-form-title-input" class="normal-input" type="text" name="topic[title]" placeholder="Title goes here...">
    <textarea id="topic-form-body-textarea" class="normal-textarea" rows="5" name="topic[body]" placeholder="Description goes here..."></textarea><br>
    <button class="normal-button" type="submit" class="btn"><span class="icon-ok"></span> SUBMIT</button>
  </form>
</div>
