<script id="category-index-template" type="text/x-dot-template">
  {{? it.administrator }}
    <div id="new-category-body" class="boxes">
      <%= erb :'partials/category/category_form' %>
    </div>
  {{?}}
  {{~ it.categories :c }}
    <div id="category-{{= c._id }}" class="boxes">
      <span class="boxes-title"><a href="/categories/{{= c._id }}">{{! c.title }}</a></span>
      <p class="boxes-summary">{{! c.description }}</p>
    </div>
  {{~}}
</script>
