<script id="category-show-template" type="text/x-dot-template">
  {{? it.user }}
    <div id="new-topic-body" class="boxes">
      <%= erb :'partials/topic/topic_form' %>
    </div>
  {{?}}
  {{~ it.topics :t }}
    <div id="category-{{= t._id }}" class="boxes">
      <div class="boxes-date">
        <span class="boxes-author">
          <span class="icon-user"></span> {{= t.created_by_id }}
        </span>
        <span class="icon-time"></span> <span class="relative-date">{{= moment(t.created_at).fromNow() }}</span>
      </div>
      <span class="boxes-title"><a href="/categories/{{= t.category_id }}/topics/{{= t._id }}">{{! t.title }}</a></span>
      <p class="boxes-summary">{{! t.body }}</p>
    </div>
  {{~}}
</script>
