<script id="category-new-template" type="text/x-dot-template">
  <span class="boxes-title"><a href="/categories/{{= it._id }}">{{! it.title }}</a></span>
  <p class="boxes-summary">{{! it.description }}</p>
</script>
