<script id="category-body-template" type="text/x-dot-template">
  <div id="new-category-body" style="margin-top: -28px;" class="boxes">
    <%= erb :'partials/category/category_form' %>
  </div>
</script>
