<div id="new-category-form">
  <div id="category-button-container">
    <div id="slide-category-button-container">
      <div id="new-category-button">
        <span class="icon-plus action-icon"></span> <span class="action-text">NEW CATEGORY</span>
      </div>
      <div id="cancel-category-button">
        <span class="icon-remove action-icon"></span> <span class="action-text">CANCEL</span>
      </div>
    </div>
  </div>
  <form id="category-form" action="/categories/" method="post">
    <input id="category-form-title-input" class="normal-input" type="text" name="category[title]" placeholder="Title goes here...">
    <textarea id="category-form-body-textarea" class="normal-textarea" rows="5" name="category[description]" placeholder="Description goes here..."></textarea><br>
    <button class="normal-button" type="submit" class="btn"><span class="icon-ok"></span> SUBMIT</button>
  </form>
</div>
